{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "> 2%", "not ie <= 8"]
            }
        }]
    ],
    "plugins": [
        "transform-runtime"
    ]
}