body {
    background-color: gray;
    background-image: url('../../asset/big.jpg');
}
#app {
    background-color: blue;
    background-image: url('../../asset//small.png');
    display: flex;
    width: 100px;
    height: 100px;
    transition: all 1s;
}
#app:hover {
    transform: translate3d(25px, 50px, 0);
    width: 200px;
}