body {
    background: gray;
}
#app {
    background: blue;
    display: flex;
    width: 100px;
    height: 100px;
    transition: all 1s;
}
#app:hover {
    transform: translate3d(25px, 50px, 0);
    width: 200px;
}